<!doctype html>
<html>
<head>
	<meta http-equiv = "Content-Type" content = "text/html; charset=utf-8">
	<meta http-equiv = "X-UA-Compatible" content = "IE=Edge">
	<title>Russian Language Center</title>
	<meta name = "description" content = "Russian Language Center">
	<meta name = "keywords" content = "Russian Language Center">
	<meta name = "author" content = "toolbox.team">

	<meta name="google-site-verification" content="P_X7V78auSYqUnqb9BdJ_JNRc_vOJ1KS-hK1SqUeWyw" />
	<meta name="yandex-verification" content="93d4aa560d616587" />

	<meta name = "viewport" content = "width=device-width, initial-scale=1">

  {{ with (resources.GetMatch "**/engine.css") }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" type="text/css" media="screen"/>
  {{ end }}

  {{ with (resources.GetMatch "**/custom.css") }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" type="text/css" media="screen"/>
  {{ end }}

</head>

<body class="page-body">
<div id = "mainMenuCarrier">
	<div class="navbar navbar-inverse" id = "mainMenu" role="navigation">
		<div class = "container3">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse">
        {{- partial "menu.html" (
           dict
           "menu" .Site.Menus.main
           )
        }}
			</div>
		</div>
	</div>
</div>

<div id = "header">
	<div class = "container2">
		<div class = "row2">
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 left">
				<a href = "/"><img src = "/img/logo.jpg" class = "img-responsive" alt = "Russian Language center"></a>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-3 col-xs-6 content">
				<a class = "button" href = "/contacts/">Apply now</a>
				<div class = "item hidden-sm hidden-xs">
					Join us to learn Russian and to know more about the&nbsp;Russian-speaking world
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 right">
				<div class = "contacts">
					<div class = "contact"><span class = "email">{{ .Site.Params.email }}</span></div>
					<div class = "contact"><span class = "phone"><span class = 'textPhone'>{{ .Site.Params.mobile }}</span></span></div>
					<div class = "contact"><a href="whatsapp:85260174642" class="phone2"><span class = 'textPhone'>{{ .Site.Params.whatsapp }}</span></a></div>
					<div class = "contact"><span class = "address">{{ delimit .Site.Params.address  "<br>"  | safeHTML }}</span></div>
				</div>
			</div>
		</div>

	</div>
	<div class = "clear"></div>
</div>

	    {{ block "main" . }}{{ end }}

<footer>
<div id = "footer">
	<div class = "container2">
			<div class = "col-lg-2 left">

			<table>
				<tr>
					<td><a href = "https://www.facebook.com/rlchk/" target = "blank" rel = "nofollow"><img src = "/img/social/fb.png" alt = ""></a></td>
					<td><a href = "https://www.facebook.com/russian.for.kids.hk/" target = "blank" rel = "nofollow"><img src = "/img/social/fb_c.png" alt = ""></a></td>
					<td><a href = "https://www.instagram.com/russian_language_hk/" target = "blank" rel = "nofollow"><img src = "/img/social/ig.png" alt = ""></a></td>
					<td><a href = "https://www.youtube.com/channel/UCPu1eSGDDynlp70gvLBMQpg" target = "blank" rel = "nofollow"><img src = "/img/social/yt.png" alt = ""></a></td>
				</tr>
			</table>
		</div>

		<div class = "col-lg-8 col-md-8 col-sm-8 content">
			<div class = "contacts">
				<div class = "title">Contact us!</div>
				<div class = "col-sm-4 item">
					<span class = "phone"><span class = 'textPhone'>{{ .Site.Params.mobile }}</span></span>
				</div>
				<div class = "col-sm-4 item">
					<a href="whatsapp:85260174642" class="phone2"><span class = 'textPhone'>{{ .Site.Params.whatsapp }}</span></a>
				</div>
				<div class = "col-sm-4 item">
					<span class = "email">{{ .Site.Params.email }}</span>
				</div>
				<div class = "clear"></div>

			</div>
	</div>

<div class = "col-lg-2 col-md-4 col-sm-4 right">
	<div style = "margin-bottom:30px;">Russian Language Center '25</div>
	<div><span class = "address">12 FL., Kingdom Power<br> Commercial Building,<br> 32-36 Des Voeux Rd W, Sheung Wan</span></div>
</div>
<div class = "clear"></div>

</div>
</div>

{{ with (resources.GetMatch "**/engine.min.js") }}
<script src = "{{ .RelPermalink }}"></script>
{{ end }}

{{ with (resources.GetMatch "**/custom.min.js") }}
<script src = "{{ .RelPermalink }}"></script>
{{ end }}

</footer>


</body>
</html>
