{{ define "main" }}

<div id = "languages">
	<h2>Languages</h2>
	<div class = "col-sm-6">
		<div class = "item">
			<a class = "flex" id = "l1" href = "/languages/russian/">
				<h3>Russian</h3>
				<p>
					With professionals &mdash; native speakers for various purposes.
				</p>
				<p>
					 Our school offers a variety of courses for all levels for adults and kids, as well as tailor-made private lessons

				</p>
			</a>
		</div>
	</div>

	<div class = "col-sm-6">
		<div class = "flex item">
			<a class = "flex" id = "l2" href = "/languages/english/">
				<h3>English</h3>
				<p>
					Basic conversational course with Russian-speaking teacher aiming to help compatriots to feel more comfortable in Hong Kong by developing their communicative skills.
				</p>
			</a>
		</div>
	</div>
	<div class = "clear"></div>
</div>

<div id = "advantages">
	<h2>Our advantages</h2>
	<div class = "item hidden-xs" style = "background-image:url(/img/en/our_advantages.png);"></div>
	<div class = "hidden-lg hidden-md hidden-sm">
		<ul>
			<li>Only native Russian teachers;</li>
			<li>Courses of all levels for adults and kids;</li>
			<li>Russian language for various purposes;</li>
			<li>Member of the International Association of Teachers of Russian Language and Literature;</li>
			<li>Offline and online classes available.</li>
		</ul>
	</div>
</div><div id = "main">
<!--Основная часть-->
	<div class = "container">
		<div class = "text">
			<h1>Russian Language Center</h1>
<p><span>Learning Russian doesn't have to be as stressful as you think! </span></p>
<p><span>At the Russian Language Center (RLC), we have a team of highly trained teachers who are passionate and experienced in helping you achieve your learning goals. Whether you just want to learn enough Russian for your upcoming trip or you're up for the challenge of becoming one of our regular students in higher level courses, we've got you covered.</span></p>
<p><span></span><span>With </span><span>over a decade of operation in Hong Kong, RLC upholds the highest teaching standards. Our convenient location in Sheung Wan makes it easy for you to find us offline.</span><span><br /></span></p>
<p><span>So why not choose RLC for your Russian studies in Hong Kong? We can't wait to welcome you and embark on this language-learning journey together.</span></p><div class = "clear"></div>


</div>
</div>

<div style = 'background-image:url(/img/reviews-partners_background.jpg);background-position:center center;background-size:cover;'>	<div id = "partners">
		<h2>&nbsp;Partners&nbsp;</h2>
		<div id = "partnersSlider">				<div class = "itemCarrier">
					<div class = "item">
											<a href = "https://orthodoxy.hk/" target = "_blank">
						<img src = "/photos/partners/orthodoxy_hk.png" alt = "" class = "img-responsive">
						<div class = "title">
							Saint Apostles Peter and Paul Orthodox Church in Hong Kong
						</div>
					</a>
					</div>
				</div>
							<div class = "itemCarrier">
					<div class = "item">
											<img src = "/photos/partners/russian_business_club.png" alt = "" class = "img-responsive">
					<div class = "title">
						Russian business club
					</div>
					</div>
				</div>
							<div class = "itemCarrier">
					<div class = "item">
											<img src = "/photos/partners/from_russia_with_art.png" alt = "" class = "img-responsive">
					<div class = "title">
						From Russia with Art
					</div>
					</div>
				</div>
							<div class = "itemCarrier">
					<div class = "item">
											<img src = "/photos/partners/russian_bazaar.png" alt = "" class = "img-responsive">
					<div class = "title">
						Russian bazaar
					</div>
					</div>
				</div>
							<div class = "itemCarrier">
					<div class = "item">
											<img src = "/photos/partners/russian_hongkong_club.png" alt = "" class = "img-responsive">
					<div class = "title">
						Russian club in Hong Kong
					</div>
					</div>
				</div>
					</div>
	</div></div>



{{ end }}
